<h2 class="text-center ank ank-my-3rem">Blog</h2>
@if (identity && identity.role == 'ROLE_ADMIN') {
  <a
    href="/article"
    [routerLink]="['/blog/article']"
    class="d-block mx-auto my-3 btn ank ank-w-clampSD200pxCOM25perCOM300pxED ank-btn-fullYellow ank-text-tdark p-2"
    >Crear nuevo artículo</a
    >
  }
  @if (articles.length > 0) {
    <section class="w-100 d-flex flex-wrap justify-content-evenly">
      @for (article of articles; track article; let i = $index) {
        <article
          class="card ank ank-w-95per ank-wmx-300px mx-auto my-3 ank-bg-fullRed ank-text-tlight p-3 ank-rounded-15px"
          >
          <h3 class="card-title text-center">Title</h3>
          <span class="my-1 text-center"> dd/mm/yy </span>
          <img
            src="https://picsum.photos/30{{ i }}/30{{ i }}"
            alt="https://picsum.photos/30{{ i }}/30{{ i }}"
            class="w-50 obj-fit-cover d-block mx-auto my-3 ank ank-rounded-15px ank-boxShadow-0__2px__2px__tdark"
            />
            <div class="d-flex flex-wrap justify-content-evenly w-75 mx-auto">
              <span class="badge bg-info"> Nuevo </span>
              <span class="badge bg-success"> Cat 1 </span>
              <span class="badge bg-warning"> Cat 2 </span>
            </div>
            <div class="card-body">
              <p class="card-text my-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                blanditiis amet inventore, nobis harum perspiciatis aut alias qui unde
                explicabo accusamus.
              </p>
              <a
                href="/article"
                [routerLink]="['/blog/article']"
                class="card-link badge ank ank-btn-fullYellow ank-text-tdark p-2"
                >Ver más</a
                >
              </div>
            </article>
          }
        </section>
      } @else {
        @if (!loading) {
          <p class="text-center p-5">No hay artículos.</p>
        } @else {
          <p class="text-center p-5">Cargando...</p>
        }
      }
