<!-- Edit/Delete Buttons -->
@if (canEdit()) {
<div
  class="position-fixed end-0 ank ank-z-15 {{
    windowWidth() < 767 ? 'ank-top-150px' : 'ank-top-15per'
  }}"
>
  @if (edit() === false) {
  <button
    class="btn ank ank-btn-fullYellow ank-text-tdark mr-2"
    (click)="editChange()"
  >
    <svg
      width="1em"
      height="1em"
      viewBox="0 0 16 16"
      class="bi bi-pencil-square"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
      />
      <path
        fill-rule="evenodd"
        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
      />
    </svg>
  </button>
  } @if (edit() === true) {
  <button
    class="btn ank ank-btn-fullYellow ank-text-tdark mr-2 font-weight-normal float-right"
    (click)="editChange()"
  >
    X
  </button>
  }
</div>
}

<h2 class="text-center ank ank-my-3rem">{{ "app.websites" | translate }}</h2>

<section>
  @for (website of webSites(); track website._id; let i = $index) {
  <article
    class="my-5 py-5 ank ank-bg-tdark__OPA__0_75 position-relative"
  >
    <!-- Edit/Delete Buttons -->
    @if (canEdit() && edit() === true) {
    <div
      class="position-absolute end-0 ank ank-top-20per ank-z-10 {{
        windowWidth() <= 767 ? 'ank-top-50px' : 'ank-top-5per'
      }}"
    >
      @if (webSite()._id !== website._id) {
      <button
        class="btn ank ank-btn-fullYellow ank-text-tdark mr-2"
        (click)="websiteEdit(website)"
      >
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          class="bi bi-pencil-square"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
          />
          <path
            fill-rule="evenodd"
            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
          />
        </svg>
      </button>
      } @if (webSite()._id === website._id) {
      <button
        class="btn ank ank-btn-fullYellow ank-text-tdark mr-2 font-weight-normal float-right"
        (click)="websiteEdit(website)"
      >
        X
      </button>
      }

      <button class="btn btn-warning mr-2" (click)="deleteWebsite(website._id)">
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          class="bi bi-trash-fill"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"
          />
        </svg>
      </button>
    </div>
    }
    <div
      class="d-flex flex-column px-3 ank ank-w-95per mx-auto {{
        i % 2 === 0 ? 'align-items-start' : 'align-items-end'
      }}"
    >
      <h3>
        @if (lang() === 'es') {
        {{ website.title }}
        } @else {
        {{ website.titleEng }}
        }
      </h3>
      <h4>
        @if (lang() === 'es') {
        {{ website.type }}
        } @else {
        {{ website.typeEng }}
        }
      </h4>
    </div>
    <div
      class="d-flex flex-column align-items-center my-3 ank ank-w-90per mx-auto overflow-hidden"
    >
      @if ( website && ((website.desktopImg && website.desktopImg.location) ||
      (website.tabletImg && website.tabletImg.location) || (website.mobileImg &&
      website.mobileImg.location)) ) {
      <div
        class="{{ windowWidth() < 767 ? 'w-100' : 'mt-3 mb-5' }} ank-order-{{
          i % 2 === 0 ? 2 : 1
        }}"
      >
        <div
          class="position-relative mx-auto ank {{
            windowWidth() < 575
              ? 'ank-h-300px'
              : windowWidth() < 767 && windowWidth() >= 576
              ? 'ank-h-600px ank-w-90per'
              : windowWidth() > 767
              ? 'd-flex justify-content-between align-items-end ank-w-75per'
              : ''
          }}"
        >
          @if (website && website.desktopImg && website.desktopImg.location) {
          <img
            src="{{ urlMain() + 'get-file/' + website.desktopImg._id }}"
            alt="{{ website.desktopImg.title }}"
            class="ank ank-rounded-5px {{
              windowWidth() < 767
                ? 'position-absolute top-0 start-0 w-100'
                : 'position-relative w-50'
            }}"
          />
          } @if (website && website.tabletImg && website.tabletImg.location) {
          <img
            src="{{ urlMain() + 'get-file/' + website.tabletImg._id }}"
            alt="{{ website.tabletImg.title }}"
            class="ank ank-rounded-5px {{
              windowWidth() < 767
                ? 'position-absolute ank-bot-25per end-0 ank-w-33per'
                : 'position-relative ank-w-15per'
            }}"
          />
          } @if (website && website.mobileImg && website.mobileImg.location) {
          <img
            src="{{ urlMain() + 'get-file/' + website.mobileImg._id }}"
            alt="{{ website.mobileImg.title }}"
            class="ank ank-rounded-5px {{
              windowWidth() < 767
                ? 'position-absolute bottom-0 ank-end-25per ank-w-20per'
                : 'position-relative ank-w-10per'
            }}"
          />
          }
        </div>
      </div>
      } @if (website.insert && website.insert !== '') {
      <div
        class="{{ windowWidth() < 767 ? 'w-100' : 'mt-3 mb-5' }} ank ank-order{{
          i % 2 === 0 ? 2 : 1
        }}"
        [innerHTML]="website.insert | safeHtml"
      ></div>
      }
      <div
        class="ank w-100 ank-text-ulight px-2 mx-auto text-center ank ank-order-{{
          i % 2 === 1 ? 1 : 2
        }}"
      >
        @if (lang() === 'es') {
        {{ website.desc }}
        } @else {
        {{ website.descEng }}
        }
      </div>
    </div>
    <a
      href="{{ website.link }}"
      target="_blank"
      rel="noopener noreferrer"
      class="text-center fw-bold d-block mx-auto mt-5 mb-3"
    >
      {{ website.link }}
    </a>
  </article>
  }
</section>

@if (edit() === true) {
<section class="my-5 py-5">
  <h2 class="text-center my-3">
    @if (webSite()._id && webSite()._id !== '') { Edición } @else { Creación } del
    proyecto web
  </h2>

  <!-- Title Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="ank ank-text-tlight mb-1 d-block" for="title">Título</label>
    <input
      class="w-100 ank ank-text-tlight ank-bg-tdark border-0"
      type="text"
      name="title"
      #title="ngModel"
      [(ngModel)]="currentWebSiteTitle"
      placeholder="Título"
      required
    />
    @if (!title.valid && title.touched) {
    <span class="ank ank-text-tlight font-weight-bold">
      El título es obligatorio.
    </span>
    }
  </div>

  <!-- TitleEng Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="ank ank-text-tlight mb-1 d-block" for="titleEng"
      >Title(English)</label
    >
    <input
      class="w-100 ank ank-text-tlight ank-bg-tdark border-0"
      type="text"
      name="titleEng"
      #titleEng="ngModel"
      [(ngModel)]="currentWebSiteTitleEng"
      placeholder="Title"
      required
    />
    @if (!titleEng.valid && titleEng.touched) {
    <span class="ank ank-text-tlight font-weight-bold">
      The title(english) is required.
    </span>
    }
  </div>

  <!-- Type Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="ank ank-text-tlight mb-1 d-block" for="type">Tipo</label>
    <input
      class="w-100 ank ank-text-tlight ank-bg-tdark border-0"
      type="text"
      name="type"
      #type="ngModel"
      [(ngModel)]="currentWebSiteType"
      placeholder="Tipo"
      required
    />
    @if (!type.valid && type.touched) {
    <span class="ank ank-text-tlight font-weight-bold">
      El tipo es obligatorio.
    </span>
    }
  </div>

  <!-- TypeEng Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="ank ank-text-tlight mb-1 d-block" for="typeEng"
      >Type(English)</label
    >
    <input
      class="w-100 ank ank-text-tlight ank-bg-tdark border-0"
      type="text"
      name="typeEng"
      #typeEng="ngModel"
      [(ngModel)]="currentWebSiteTypeEng"
      placeholder="Type(English)"
      required
    />
    @if (!typeEng.valid && typeEng.touched) {
    <span class="ank ank-text-tlight font-weight-bold">
      The type(english) is required.
    </span>
    }
  </div>

  <!-- Desc Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="ank ank-text-tlight mb-1 d-block" for="desc"
      >Descripción</label
    >
    <input
      class="w-100 ank ank-text-tlight ank-bg-tdark border-0"
      type="text"
      name="desc"
      #desc="ngModel"
      [(ngModel)]="currentWebSiteDesc"
      placeholder="Descripción"
      required
    />
    @if (!desc.valid && desc.touched) {
    <span class="ank ank-text-tlight font-weight-bold">
      El descripción es obligatorio.
    </span>
    }
  </div>

  <!-- DescEng Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="ank ank-text-tlight mb-1 d-block" for="descEng"
      >Description(English)</label
    >
    <input
      class="w-100 ank ank-text-tlight ank-bg-tdark border-0"
      type="text"
      name="descEng"
      #descEng="ngModel"
      [(ngModel)]="currentWebSiteDescEng"
      placeholder="Description(English)"
      required
    />
    @if (!descEng.valid && descEng.touched) {
    <span class="ank ank-text-tlight font-weight-bold">
      The description(english) is required.
    </span>
    }
  </div>

  <!-- Link Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="ank ank-text-tlight mb-1 d-block" for="link">Link</label>
    <input
      class="w-100 ank ank-text-tlight ank-bg-tdark border-0"
      type="text"
      name="link"
      #link="ngModel"
      [(ngModel)]="currentWebSiteLink"
      placeholder="Link"
      required
    />
    @if (!link.valid && link.touched) {
    <span class="ank ank-text-tlight font-weight-bold">
      El link es obligatorio.
    </span>
    }
  </div>

  <!-- Insert Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="ank ank-text-tlight mb-1 d-block" for="insert"
      >Inserción</label
    >
    <input
      class="w-100 ank ank-text-tlight ank-bg-tdark border-0"
      type="text"
      name="insert"
      #insert="ngModel"
      [(ngModel)]="currentWebSiteInsert"
      placeholder="Inserción"
      required
    />
    @if (!insert.valid && insert.touched) {
    <span class="ank ank-text-tlight font-weight-bold">
      La inserción es obligatoria.
    </span>
    }
  </div>

  @if (webSite()._id && webSite()._id !== '') {
  <div class="my-5 d-flex flex-wrap justify-content-evenly">
    <h2 class="text-center my-3 w-100">Archivos</h2>

    <!-- desktopImg Upload -->
    <div class="m-3">
      <h3 class="ank ank-text-tlight text-center w-75 my-3 d-block mx-auto">
        Subida de desktopImg
      </h3>
      @if (webSite() && webSite().desktopImg && webSite().desktopImg.location) {
      <img
        class="ank ank-wmx-75per d-block mx-auto ank-hmx-25vh my-3"
        src="{{ urlMain() + 'get-file/' + webSite().desktopImg._id }}"
        alt="{{ webSite().desktopImg.title }}"
      />
      }
      <app-file-uploader
        [type]="'main'"
        [typeMeta]="'one'"
        [typeThingComRes]="'web-site'"
        [thing]="webSite().desktopImg"
        [thingInside]="true"
        [id]="webSite()._id + '/desktopImg'"
        (pre_loader)="pre_load($event)"
        (recoverThing)="recoverThingFather($event)"
      ></app-file-uploader>
    </div>

    <!-- tabletImg Upload -->
    <div class="m-3">
      <h3 class="ank ank-text-tlight text-center w-75 my-3 d-block mx-auto">
        Subida de tabletImg
      </h3>
      @if (webSite() && webSite().tabletImg && webSite().tabletImg.location) {
      <img
        class="ank ank-wmx-75per d-block mx-auto ank-hmx-25vh my-3"
        src="{{ urlMain() + 'get-file/' + webSite().tabletImg._id }}"
        alt="{{ webSite().tabletImg.title }}"
      />
      }
      <app-file-uploader
        [type]="'main'"
        [typeMeta]="'one'"
        [typeThingComRes]="'web-site'"
        [thing]="webSite().tabletImg"
        [thingInside]="true"
        [id]="webSite()._id + '/tabletImg'"
        (pre_loader)="pre_load($event)"
        (recoverThing)="recoverThingFather($event)"
      ></app-file-uploader>
    </div>

    <!-- mobileImg Upload -->
    <div class="m-3">
      <h3 class="ank ank-text-tlight text-center w-75 my-3 d-block mx-auto">
        Subida de mobileImg
      </h3>
      @if (webSite() && webSite().mobileImg && webSite().mobileImg.location) {
      <img
        class="ank ank-wmx-75per d-block mx-auto ank-hmx-25vh my-3"
        src="{{ urlMain() + 'get-file/' + webSite().mobileImg._id }}"
        alt="{{ webSite().mobileImg.title }}"
      />
      }
      <app-file-uploader
        [type]="'main'"
        [typeMeta]="'one'"
        [typeThingComRes]="'web-site'"
        [thing]="webSite().mobileImg"
        [thingInside]="true"
        [id]="webSite()._id + '/mobileImg'"
        (pre_loader)="pre_load($event)"
        (recoverThing)="recoverThingFather($event)"
      ></app-file-uploader>
    </div>
  </div>
  }

  <!-- Submit -->
  <button
    (click)="onSubmit()"
    class="ank btn ank-btn-fullRed ank-text-tdark p-2 mx-auto my-5 d-block w-50"
  >
    Submit
  </button>
</section>
}
