@if (!!dropdownOpen && !disabled) {
<div
  class="d-block position-fixed ank ank-h-100vh ank-w-100vw ank-s-0 ank-t-0 overflow-hidden"
  (click)="dropdownOpen = !!disabled ? false : !dropdownOpen"
></div>
} @if (!!labelTitle) {
<label
  class="d-block text-start ank ank-text-btnBG ank-mt-1rem {{ labelClasses }}"
>
  {{ labelTitle }}
</label>
}
<button
  id="{{ buttonId }}-btn-dropdown"
  type="button"
  class="btn ank w-100 ank-lh-1 d-flex flex-wrap justify-content-between align-items-center"
  [ngClass]="
    (!withSearcher ? ' ank-p-5px__1rem ' : ' ank-p-0 ') +
    (disabled && !!disabledClassButton ? disabledClassButton : buttonClasses)
  "
  (click)="
    clickedTitle.emit(placeholder);
    dropdownOpen = !!disabled ? false : !dropdownOpen
  "
  [disabled]="disabled"
>
  @if (!withSearcher) {
  {{ placeholder }}
  } @else { @if (!!placeholder && placeholder.toString() !== '' && multiselect)
  { @for ( pill of placeholder.toString().split(splitter); track pill; let i =
  $index; let last$ = $last) {
  <div
    class="text-break w-25 mat-elevation-z2 ank ank-r-1rem ank-bg-{{
      getRandomColor(i, last$)
    }} text-light ank-tsh-0__0__2px__black"
  >
    {{ pill }}
    <button
      class="btn btn-danger border border-secondary ank-r-100per ank ank-fs-0_5rem ank-w-1rem ank-h-1rem p-0"
      (click)="
        onClicked({
          type: 'menuitemMultiselect',
          option: pill,
          click: pill
        })
      "
    >
      X
    </button>
  </div>
  } }
  <generic-input
    class="ank ank-w-calcSD95per__MIN__1remED"
    [placeholder]="placeholder.toString().replace(splitterRegEx, ',')"
    [thingFather]="searcher"
    [thing]="'search'"
    [type]="!!multiselect ? 'textarea' : 'text'"
    [inputContainerClasses]="'w-100 d-flex mx-auto align-items-center'"
    [inputClasses]="
      'w-100 bg-transparent ank border-0 ' +
      (!!multiselect
        ? 'ank-p-5px__0 ank-rounded-0'
        : 'ank-p-5px__1rem ank-rounded-1rem')
    "
    [inputDisabledClasses]="
      'w-100 bg-transparent ank border-0' +
      (!!multiselect
        ? 'ank-p-5px__0 ank-rounded-0'
        : 'ank-p-5px__1rem ank-rounded-1rem')
    "
    [hrActive]="false"
    [disabled]="disabled"
    (changesInput)="InputReacher($event)"
  ></generic-input>
  }
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="10"
    height="10"
    viewBox="0 0 15 12"
  >
    <path
      id="Polygon_1"
      data-name="Polygon 1"
      d="M6.652,1.357a1,1,0,0,1,1.7,0l5.7,9.113A1,1,0,0,1,13.2,12H1.8a1,1,0,0,1-.848-1.53Z"
      transform="translate(15 12) rotate(180)"
      fill="#000"
    />
  </svg>
</button>
@if (!!dropdownOpen && !disabled) {
<ul
  id="{{ dropdownId }}-dropdown"
  class="list-group list-group-flush dropdown-menu ank ank-bg-white ank-fs-1rem ank-text-btnBG ank-p-5px__1rem ank-rounded-1rem ank-w-{{
    buttonId !== '' ? checkElementWidth(buttonId + '-btn-dropdown') : 100
  }}px"
>
  @for (option of getOptions(); track option; let last$ = $last) {
  <ng-container>
    @switch (true) { @case (option.type.includes('menuitem')) { @if (
    !placeholder.toString().includes(option.option) || !multiselect ) {
    <li
      class="list-group-item cursor-pointer text-center ank"
      [ngClass]="
        disabled
          ? listClasses + ' ' + option.disabledClasses
          : listClasses + ' ' + option.customClasses
      "
      (click)="
        onClicked(option); dropdownOpen = !!disabled ? false : !dropdownOpen
      "
    >
      {{ option.option }}
    </li>
    } } @case (option.type.includes('divider')) {
    <li
      class="list-group-item text-center ank"
      [ngClass]="disabled ? option.disabledClasses : option.customClasses"
      class="divider dropdown-divider"
    ></li>
    } @default {
    <li
      class="list-group-item ank text-center"
      [ngClass]="
        disabled
          ? listClasses + ' ' + option.disabledClasses
          : listClasses + ' ' + option.customClasses
      "
      (click)="
        onClicked(option); dropdownOpen = !!disabled ? false : !dropdownOpen
      "
    >
      {{ option.option }}
    </li>
    } }
  </ng-container>
  }
</ul>
}
