:host .portfolio-header-logo {
  display: block;
  height: 45px;
  object-fit: contain;
  width: 45px;
}

:host .portfolio-main-content {
  padding-bottom: calc(7rem + env(safe-area-inset-bottom));
}
