<!-- Edit/Delete Buttons -->
@if (!!canEdit || !article._id) {
  <generic-group-buttons
  [buttonComboClass]="
    'position-fixed d-flex justify-content-start ank ank-t-9rem ank-e-3rem'
  "
    [buttons]="buttonsToEdit"
    (clicked)="onClickButton($event)"
  ></generic-group-buttons>
}
<!-- Created_at -->
@if (!!article.create_at) {
  <p
    class="text-center ank ank-py-1_5rem"
    >
    {{ article.create_at | amLocale : "es" | amDateFormat : "LL" }}
  </p>
}
<!-- Cat -->
@if (!!article.cat && !!article.cat._id) {
  <blog-cat-badgets
    [cats]="[article.cat]"
    [lang]="lang"
    >
  </blog-cat-badgets>
}
<!-- Cat Edit -->
<blog-cat-edit
  [article]="article"
  [cats]="cats"
  (getArticleCats)="getCats(); getSubCats()"
  (catSelected)="bringSubCatsFromSelectedCat()"
></blog-cat-edit>
<!-- SubCats -->
@if (
  !!article.cat &&
  !!article.cat._id &&
  !!article.cat.subCats &&
  !!article.cat.subCats[0]?._id
  ) {
  <blog-subcat-badgets
    [subcats]="[article.cat.subCats]"
    [lang]="lang"
    >
  </blog-subcat-badgets>
}
<!-- SubCats Edit -->
@if (!!article.cat) {
  <blog-subcat-edit
    [article]="article"
    [subCats]="this.availableSubCats"
    (getArticleSubCats)="getCats(); getSubCats()"
  ></blog-subcat-edit>
}
<!-- Título -->
@if (article.title) {
  <h2
    class="text-uppercase px-5 my-5 ank ank-text-fullYellow"
    (click)="onClickButton('┼type┼title')"
    [innerHTML]="article.title.replace('\n', '<br />') | safeHtml"
  ></h2>
}
@if (
  identity && (!article.title || edits.includes('title')) && isEdit == true
  ) {
  <generic-input
    class="d-block w-75 ank ank-wmn-220px mx-auto my-3"
    [thingFather]="article"
    [thing]="'title'"
    [type]="'textarea'"
    [placeholder]="'Título'"
  [spans]="[
    {
      text: 'El título es obligatorio.',
      evalThing: 'required',
      spanClass: 'ank ank-text-fullYellow'
    }
  ]"
  [labelClasses]="'ank ank-text-fullYellow'"
  [inputClasses]="
    'ank ank-text-fullYellow w-100 border-0 text-uppercase text-center ank-fs-1_75rem bg-transparent'
  "
  [inputContainerClasses]="'w-100 d-flex mx-auto px-5 align-items-center'"
  [hrClasses]="'ank ank-bg-fullYellow'"
  [buttons]="[
    {
      type: 'cancel┼type┼title',
      classButton: 'mx-2 ank-w-50px ank-h-50px',
      customHtml: 'cancel┼type┼title',
      tooltip: 'Cerrar Edición'
    }
  ]"
(clicked)="onClickButton($event)"
></generic-input>
}
<!-- Intro -->
@if (article.intro) {
  <section
    class="p-3 text-center font-weight-bold w-75 ank ank-wmn-220px mx-auto ank ank-my-50px ank-oveflowX-hidden"
    (click)="onClickButton('┼type┼intro')"
  [innerHTML]="
    (
      {
        text: this.valuefy(article.intro),
        textcolor: 'ank-text-tlight',
        linkcolor: 'ank-link-fullYellow'
      } | linkify
    ).text | safeHtml
  "
  ></section>
}
@if (
  identity && (!article.intro || edits.includes('intro')) && isEdit == true
  ) {
  <generic-input
    class="d-block w-75 ank ank-wmn-220px mx-auto my-3"
    [thingFather]="article"
    [thing]="'intro'"
    [type]="'text'"
    [placeholder]="'Introducción del artículo'"
    [labelClasses]="'ank ank-text-fullYellow'"
  [inputClasses]="
    'ank ank-text-fullYellow w-100 border-0 text-center bg-transparent'
  "
    [inputContainerClasses]="'w-100 d-flex mx-auto px-5 align-items-center'"
    [hrClasses]="'ank ank-bg-fullYellow'"
  [buttons]="[
    {
      type: 'cancel┼type┼intro',
      classButton: 'mx-2 ank-w-50px ank-h-50px',
      customHtml: 'cancel┼type┼intro',
      tooltip: 'Cerrar Edición'
    }
  ]"
  (clicked)="onClickButton($event)"
></generic-input>
}
<!-- Sections -->
<article-sections
  [article]="article"
  [isEdit]="isEdit"
  [apiBlog]="urlBlog"
  (getArticle)="getArticle()"
></article-sections>
<!-- Outro -->
@if (article.outro) {
  <section
    class="p-3 text-center font-weight-bold w-75 ank ank-wmn-220px mx-auto ank ank-overflowX-hidden ank-my-50px"
    (click)="onClickButton('┼type┼outro')"
  [innerHTML]="
    (
      {
        text: this.valuefy(article.outro),
        textcolor: 'ank-text-tlight',
        linkcolor: 'ank-text-fullYellow'
      } | linkify
    ).text | safeHtml
  "
  ></section>
}
@if (
  identity && (!article.outro || edits.includes('outro')) && isEdit == true
  ) {
  <generic-input
    class="d-block w-75 ank ank-wmn-220px mx-auto my-3"
    [thingFather]="article"
    [thing]="'outro'"
    [type]="'text'"
    [placeholder]="'Outro del artículo'"
    [labelClasses]="'ank ank-text-fullYellow'"
  [inputClasses]="
    'ank ank-text-fullYellow w-100 border-0 text-center bg-transparent'
  "
    [inputContainerClasses]="'w-100 d-flex mx-auto px-5 align-items-center'"
    [hrClasses]="'ank ank-bg-fullYellow'"
  [buttons]="[
    {
      type: 'cancel┼type┼int',
      classButton: 'mx-2 ank-w-50px ank-h-50px',
      customHtml: 'cancel┼type┼int',
      tooltip: 'Cerrar Edición'
    }
  ]"
  (clicked)="onClickButton($event)"
></generic-input>
}

<!-- Create/Edit Buttons -->
@if (!!isEdit) {
  <generic-button
    [type]="'submit'"
    [classButton]="' d-block mx-auto my-5 ank-btn-fullYellow'"
    [customHtml]="!!article._id ? 'Editar artículo' : 'Crear artículo'"
    [tooltip]="!!article._id ? 'Editar artículo' : 'Crear artículo'"
    (clicked)="onClickButton($event)"
    >
  </generic-button>
}
