<!-- Edit/Delete Buttons -->
@if (identity && identity.role == 'ROLE_ADMIN') {
<div
  class="position-fixed end-0 ank ank-z-15 {{
    windowWidth < 767 ? 'ank-top-150px' : 'ank-top-15per'
  }}"
>
  @if (edit === false) {
  <button
    class="btn ank ank-btn-fullYellow ank-text-tdark mr-2"
    (click)="editChange()"
  >
    <svg
      width="1em"
      height="1em"
      viewBox="0 0 16 16"
      class="bi bi-pencil-square"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
      />
      <path
        fill-rule="evenodd"
        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
      />
    </svg>
  </button>
  } @if (edit == true) {
  <button
    class="btn ank ank-btn-fullYellow ank-text-tdark mr-2 font-weight-normal float-right"
    (click)="editChange()"
  >
    X
  </button>
  }
</div>
}

<h2 class="text-center ank ank-my-3rem">Music</h2>

<section>
  <!-- Songs -->
  @if (songs && songs.length > 0) {
  <article
    class="ank ank-bg-tdark__OPA__0_75 ank-boxShadow-4px__0__4px__midRed p-3"
  >
    <h3 class="text-center">Best Songs</h3>

    <div class="d-flex flex-wrap p-3">
      @for (songi of songs; track songi._id; let i = $index) {
      <div
        class="ank ank-w-90per ank-w-md-45per ank-mt-md-1rem ank-mb-md-3rem mx-auto d-flex align-items-center justify-content-between ank-text-tlight"
      >
        <a
          href="{{ songi.link }}"
          target="_blank"
          rel="noopener noreferrer"
          class="btn ank ank-w-80per m-0 text-start ank-text-tlight"
        >
          {{ songi.title }}
        </a>
        @if (
          songi.song &&
          songi.song.location &&
          songi.song.location !== '' &&
          (currentSong._id !== songi._id ||
            (currentSong._id === songi._id &&
              (!currentAudio ||
                (currentAudio && currentAudio.paused !== false))))
        ) {
        <button
          (click)="playAudio(songi)"
          class="btn w-10 ank ank-text-tlight"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-play-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"
            />
          </svg>
        </button>
        }
        @if (
          songi.song &&
          songi.song.location &&
          songi.song.location !== '' &&
          currentSong._id === songi._id &&
          currentAudio &&
          currentAudio.paused === false
        ) {
        <button
          class="btn w-10 ank ank-text-tlight rounded-circle"
          (click)="pause()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-pause-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z"
            />
          </svg>
        </button>
        }
        @if (
          (songi.song && songi.song.location && songi.song.location !== '') ||
          (songi.link && songi.link !== '')
        ) {
        <button
          (click)="
            copyToClipBoard(
              songi.song && songi.song.location && songi.song.location !== ''
                ? urlMain + 'get-file/' + songi.song._id
                : songi.link && songi.link !== ''
                ? songi.link
                : ''
            )
          "
          class="btn w-10 ank ank-text-tlight"
          tooltip="{{
            (lang === 'en'
              ? 'Copied to ClipBoard: '
              : 'Copiado al portapapeles: ') +
              (songi.song && songi.song.location && songi.song.location !== ''
                ? urlMain + 'get-file/' + songi.song._id
                : songi.link && songi.link !== ''
                ? songi.link
                : '')
          }}"
          placement="top"
          disabled="{{
            (!songi.song ||
              copiedToClipBoard !==
                urlMain + 'get-file/' + songi.song._id) &&
            copiedToClipBoard !== songi.link}}
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-link"
            viewBox="0 0 16 16"
          >
            <path
              d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"
            />
            <path
              d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"
            />
          </svg>
        </button>
        }
        <!-- Edit/Delete Buttons -->
        @if (identity && identity.role == 'ROLE_ADMIN' && edit === true) {
        <div
          class="d-flex"
        >
          @if (songi._id !== song._id) {
          <button
            class="btn ank ank-bg-transparent ank-text-tlight mr-2"
            (click)="SongEdit(songi)"
          >
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-pencil-square"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
              />
              <path
                fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
              />
            </svg>
          </button>
          }
          @if (songi._id === song._id) {
          <button
            class="btn ank ank-bg-transparent ank-text-tlight mr-2 font-weight-normal float-right"
            (click)="SongEdit(songi)"
          >
            X
          </button>
          }
          <button
            class="btn ank-bg-transparent ank-text-tlight mr-2"
            (click)="deleteSong(songi._id)"
          >
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-trash-fill"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"
              />
            </svg>
          </button>
        </div>
        }
      </div>
      }
    </div>
  </article>
  }

  <!-- Albums -->
  <article class="my-5">
    <h3 class="text-center my-3">Albums</h3>

    <div class="d-flex flex-wrap justify-content-between p-3">
      @for (albumi of albums; track albumi._id; let ix = $index) {
      <div
        class="ank ank-m-md-2_5vw mx-auto my-4 ank ank-w-90vw ank-w-md-40vw d-flex align-items-center justify-content-between ank-text-tlight position-relative"
      >
        <!-- Edit/Delete Buttons -->
        @if (identity && identity.role == 'ROLE_ADMIN' && edit === true) {
        <div
          class="position-absolute end-0 ank ank-top-20per ank-z-10 {{
            windowWidth <= 767 ? 'ank-top-50px' : 'ank-top-5per'
          }}"
        >
          @if (albumi._id !== album._id) {
          <button
            class="btn ank ank-btn-fullYellow ank-text-tdark mr-2"
            (click)="AlbumEdit(albumi)"
          >
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-pencil-square"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
              />
              <path
                fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
              />
            </svg>
          </button>
          }
          @if (albumi._id === album._id) {
          <button
            class="btn ank ank-btn-fullYellow ank-text-tdark mr-2 font-weight-normal float-right"
            (click)="AlbumEdit(albumi)"
          >
            X
          </button>
          }
          <button
            class="btn btn-warning mr-2"
            (click)="deleteAlbum(albumi._id)"
          >
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-trash-fill"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"
              />
            </svg>
          </button>
        </div>
        }
        @if (
          albumi &&
          albumi.img &&
          albumi.img.location &&
          albumi.img.location !== ''
        ) {
        <img
          class="ank ank-w-40vw ank-h-40vw ank-w-md-18_75vw ank-h-md-18_75vw {{
            ix % 2 === 0 ? 'order-1' : 'order-2'
          }}"
          src="{{ urlMain + 'get-file/' + albumi.img._id }}"
          alt="{{ albumi.title }}"
        />
        }
        <div
          class="ank ank-w-40vw ank-w-md-18_75vw ank-h-40vw ank-h-md-18_75vw d-flex {{
              ix % 2 === 1 ?
            'order-1': 
            'order-2'
          }}"
        >
          <a
            class="ank ank-w-33per m-3 align-self-start"
            href="{{ albumi.tidal }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              class="ank ank-w-100per ank-h-100per"
              src="/assets/images/Tidal-logo.jpg"
              alt="Tidal"
            />
          </a>
          <a
            class="ank ank-w-33per m-3 align-self-end"
            href="{{ albumi.spotify }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              class="ank ank-w-100per ank-h-100per"
              src="/assets/images/Spotify.png"
              alt="Spotify"
            />
          </a>
        </div>
      </div>
      }
    </div>
  </article>
</section>

<!-- EditAlbum -->
@if (edit === true) {
<section class="my-5 py-5">
  <h2 class="text-center my-3">
    @if (album._id && album._id !== '') {
      Edición
    } @else {
      Creación
    }
    de album
  </h2>

  <!-- Title Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="ank ank-text-tlight mb-1 d-block" for="title">Título</label>
    <input
      class="w-100 ank ank-text-tlight ank-bg-tdark border-0"
      type="text"
      name="title"
      #title="ngModel"
      [(ngModel)]="album.title"
      placeholder="Título"
      required
    />
    @if (!title.valid && title.touched) {
    <span
      class="ank ank-text-tlight font-weight-bold"
    >
      El título es obligatorio.
    </span>
    }
  </div>

  <!-- Spotify Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="ank ank-text-tlight mb-1 d-block" for="spotify"
      >Spotify</label
    >
    <input
      class="w-100 ank ank-text-tlight ank-bg-tdark border-0"
      type="text"
      name="spotify"
      #spotify="ngModel"
      [(ngModel)]="album.spotify"
      placeholder="spotify"
      required
    />
    @if (!spotify.valid && spotify.touched) {
    <span
      class="ank ank-text-tlight font-weight-bold"
    >
      EL link del spotify es obligatorio.
    </span>
    }
  </div>

  <!-- Tidal Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="ank ank-text-tlight mb-1 d-block" for="tidal">Tidal</label>
    <input
      class="w-100 ank ank-text-tlight ank-bg-tdark border-0"
      type="text"
      name="tidal"
      #tidal="ngModel"
      [(ngModel)]="album.tidal"
      placeholder="tidal"
      required
    />
    @if (!tidal.valid && tidal.touched) {
    <span
      class="ank ank-text-tlight font-weight-bold"
    >
      EL link del tidal es obligatorio.
    </span>
    }
  </div>

  @if (
    (album._id && album._id !== '') || (album.title && album.title !== '')
  ) {
  <div
    class="my-5 d-flex flex-wrap justify-content-evenly"
  >
    <!-- img Upload -->
    <div class="m-3">
      <h3 class="ank ank-text-tlight text-center w-75 my-3 d-block mx-auto">
        Subida de imagen
      </h3>
      @if (album && album.img && album.img.location) {
      <img
        class="ank ank-wmx-75per d-block mx-auto ank-hmx-25vh my-3"
        src="{{ urlMain + 'get-file/' + album.img._id }}"
        alt="{{ album.title }}"
      />
      }
      <app-file-uploader
        [type]="'main'"
        [typeMeta]="'one'"
        [typeThingComRes]="'album'"
        [thing]="album.img"
        [thingInside]="true"
        [id]="album._id"
        (pre_loader)="pre_load($event)"
        (recoverThing)="recoverThingFather($event)"
      ></app-file-uploader>
    </div>
  </div>
  }

  <!-- Submit -->
  <button
    [disabled]="!album.title || album.title === ''"
    (click)="onSubmit('album')"
    class="ank btn ank-btn-fullRed ank-text-tdark p-2 mx-auto my-5 d-block w-50"
  >
    @if (album._id && album._id !== '') {
      Editar
    } @else {
      Crear
    }
    de album
  </button>
</section>
}

<!-- EditSong -->
@if (edit === true) {
<section class="my-5 py-5">
  <h2 class="text-center my-3">
    @if (song._id && song._id !== '') {
      Edición
    } @else {
      Creación
    }
    de la canción
  </h2>

  <!-- Title Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="ank ank-text-tlight mb-1 d-block" for="title">Título</label>
    <input
      class="w-100 ank ank-text-tlight ank-bg-tdark border-0"
      type="text"
      name="title"
      #title="ngModel"
      [(ngModel)]="song.title"
      placeholder="Título"
      required
    />
    @if (!title.valid && title.touched) {
    <span
      class="ank ank-text-tlight font-weight-bold"
    >
      El título es obligatorio.
    </span>
    }
  </div>

  <!-- Title Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="ank ank-text-tlight mb-1 d-block" for="link">Link</label>
    <input
      class="w-100 ank ank-text-tlight ank-bg-tdark border-0"
      type="text"
      name="link"
      #link="ngModel"
      [(ngModel)]="song.link"
      placeholder="Link"
      required
    />
    @if (!link.valid && link.touched) {
    <span
      class="ank ank-text-tlight font-weight-bold"
    >
      El link es obligatorio.
    </span>
    }
  </div>

  @if ((song._id && song._id !== '') || (song.title && song.title !== '')) {
  <div
    class="my-5 d-flex flex-wrap justify-content-evenly"
  >
    <!-- img Upload -->
    <div class="m-3">
      <h3 class="ank ank-text-tlight text-center w-75 my-3 d-block mx-auto">
        Subida de imagen
      </h3>
      @if (song && song.coverArt && song.coverArt.location) {
      <img
        class="ank ank-wmx-75per d-block mx-auto ank-hmx-25vh my-3"
        src="{{ urlMain + 'get-file/' + song.coverArt._id }}"
        alt="{{ song.title }}"
      />
      }
      <app-file-uploader
        [type]="'main'"
        [typeMeta]="'one'"
        [typeThingComRes]="'song'"
        [thing]="song.coverArt"
        [thingInside]="true"
        [id]="song._id === '' ? '' : song._id + '/coverArt'"
        (pre_loader)="pre_load($event, 'coverArt')"
        (recoverThing)="recoverThingFather($event)"
      ></app-file-uploader>
    </div>

    <!-- song Upload -->
    <div class="m-3">
      <h3 class="ank ank-text-tlight text-center w-75 my-3 d-block mx-auto">
        Subida de la canción
      </h3>
      @if (song.song && song.song.location && song.song.location !== '') {
      <audio
        controls
      >
        <source
          src="{{ urlMain + 'get-file/' + song.song._id }}"
          type="{{ 'audio/' + song.song.type }}"
        />
        Your browser does not support the audio element.
      </audio>
      }
      <app-file-uploader
        [type]="'main'"
        [typeMeta]="'one'"
        [typeThingComRes]="'song'"
        [thing]="song.song"
        [thingInside]="true"
        [id]="song._id === '' ? '' : song._id + '/song'"
        (pre_loader)="pre_load($event)"
        (recoverThing)="recoverThingFather($event)"
      ></app-file-uploader>
    </div>
  </div>
  }

  <!-- Submit -->
  <button
    [disabled]="!song.title || song.title === ''"
    (click)="onSubmit('song')"
    class="ank btn ank-btn-fullRed ank-text-tdark p-2 mx-auto my-5 d-block w-50"
  >
    @if (song._id && song._id !== '') {
      Editar
    } @else {
      Crear
    }
    canción
  </button>
</section>
}
