<div
  class="d-flex flex-wrap justify-content-start align-items-center mx-auto ank ank-w-clampSD200pxCOM50perCOM50perED ank-my-1_5rem"
>
  @for (subcat of subcats; track subcat; let last$ = $last) {
  <a
    class="btn text-center ank-lh-1_5 badge rounded-pill px-3 py-1 {{
      'ank-text-' +
        subcat.titleColor.replace('#', 'HASH') +
        ' ank-bg-' +
        subcat.buttonColor.replace('#', 'HASH')
    }}"
    [routerLink]="['/blog/list-subcat/', subcat._id, '1']"
    href="/blog/list-subcat/{{ subcat._id }}/1"
    rel=" noopener noreferrer "
  >
    {{ lang === "es" ? subcat.title : subcat.titleEng }}
  </a>
  }
</div>
