@if (buttons.length > 0) {
  <div [ngClass]="buttonComboClass">
    @for (button of buttons; track button; let i = $index) {
      <generic-button
        [type]="button.type ? button.type : 'customHTML ' + i"
    [classButton]="
      button.classButton
        ? button.classButton
        : ' m-0 ank-borderColor-btnBG ank-borderStyle-solid ' +
          (i === 0 ? 'ank-borderwidth0' : ' ank-borderwidth0__0__0__2px ') +
          (i === buttons.length - 1
            ? ' ank-rounded-0__10px__10px__0 '
            : i === 0
            ? ' ank-rounded-10px__0__0__10px '
            : ' ank-rounded-0 ')
    "
    [disabledClassButton]="
      button.disabledClassButton ? button.disabledClassButton : ''
    "
    [customHtml]="
      button.customHtml
        ? button.customHtml
        : button.type
        ? button.type
        : 'Button ' + i
    "
        [disabled]="button.disabled ? button.disabled : false"
        [tooltip]="button.tooltip ? button.tooltip : ''"
        [placement]="button.placement ? button.placement : 'auto'"
        [tooltipClass]="button.tooltipClass ? button.tooltipClass : ''"
        (clicked)="clicked.emit($event)"
        (buttonId)="buttonId.emit({ id: $event, index: i })"
      ></generic-button>
    }
  </div>
}
